body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 95%;
    background-color: white;
    padding: 5px 10px;
    color: gold;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-link {
    padding: 0.5rem 1rem;
}

.logo img {
    height: 30%;
    max-width: 100px;
    padding-left: 40%;
}

nav ul {
    list-style: none;
    margin-right: 10px;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-align: left;
    text-decoration: none;
    color: gold;
    padding: 3px 8px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
} 


.container-fluid {
    background-image: url('bgpics.jpg'); /* Replace with your background image path */
    background-size: cover;
    position: relative;
    background-position: center;
    color: gray;
    background-repeat: no-repeat;
    height: auto;
    max-width: 93%;
    text-align: left;
    padding: 50px 5px;
}


.container-fluid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.022); /* Semi-transparent overlay */
    z-index: 1;
}

.container-fluid h4 {
    dispaly: left;
    margin: 0 0 20px;
    color: gold;
}

.container-fluid p {
    font-size: 25px;
    margin: 10px 0;
    line-height: 1.6;
    color: white;
}
.container-fluid a {
    display: center;
    position: relative;
    height: 100%;
    left: 40%;
    background-color: goldenrod;
    color: white;
    padding: 20px 40px;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 200px;
    transition: background-color 0.3s;
}

section {
    padding: 10px 5px;
    max-width: 1200px;
    margin: auto;
    gap: 5px;
}

section h4 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    color: goldenrod;
}

.about{
    display: inline;
    
    gap: 20px; /* Adjust spacing between courses */
    padding: 20px;
    background-color: #f9f9f9;
    background-size: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about{
    padding: 5px;
}

.about h5 {
    margin: 0;
    font-size: 1.2em;
    color: goldenrod;
}

.about p {
    margin: 10px 0;
    font-size: 1em;
    line-height: 1.7;
}

.why-choose-us h4 {
    color: goldenrod;
}
.why-choose-us ul {
    list-style: square;
    padding: 0;
}

.why-choose-us li {
    font-size: 18px;
    margin: 10px 0;
}

.why-choose-us strong {
    color: black;
}
.popular-courses .course {
    background-color: #f4f4f4;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.popular-courses h4 {
    color: goldenrod;
}

.popular-courses .course h4 {
    font-size: 24px;
    margin: 0 0 10px;
}

.how-it-works h4 {
    color: goldenrod;
} 
 
.how-it-works ul {
    list-style: square;
    padding-left: 5px;
}

.how-it-works li {
    font-size: 18px;
    margin: 10px 0;
}

.enroll-button {
    display: center;
    position: relative;
    height: 100%;
    max-width: 20%;
    background-color: rgb(20, 41, 58);;
    color: goldenrod;
    padding: 10px 20px;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-top: 100px;
    transition: background-color 0.3s;
}


.courses {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    gap: 20px;

}

.popular-courses{
    color: goldenrod;
}

.course {
    flex: 1 1 300px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px; /* Adjust spacing between courses */
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ccc;
   /* overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */

}

.course img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    margin: auto;
    display: block;

}

.course-content {
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

.course-content h5 {
    margin: 0;
    font-size: 1.1em;
    color: goldenrod;
}

.course-content p {
    margin: 10px 0;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
}
.course a {
    display: inline-block;
    margin-top: 20px; /* Space between text and button */
    padding: 10px 20px;
    background-color: goldenrod;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .course a:hover {
    background-color: #0056b3;
  }

.faqs h4 {
    color: goldenrod;
}

.faqs .faq {
    margin-bottom: 20px;
}

.faqs .faq h5 {
    font-size: 20px;
    margin: 0 0 10px;
}

.contact h4 {
    color: goldenrod;
}

.contact p, .contact .social-media a {
    font-size: 18px;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    color: #333;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #575757;
}

footer {
    
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: left;
}
.container .row h5{
    color: goldenrod;
}
.social-icons a {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
}
.social-icons a:hover {
    color: #acb3bb;

}
